

/*div#unique-id {  
}

div.box {
  border: 4px outset gray;
  border-radius: 1em;
  -moz-border-radius: 1em;
  width: 100px;
  height: 70px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 30px;
}

.reference-links {
  margin: 1em 0em;
  padding-bottom: 1em;
  border-bottom: 1px solid gray;
}

.type1 {
  background-color: red;
}

.type2 {
  background-color: blue;
  color: white;
  font-weight: bold;
}*/
