#songs .song {
  margin: .25em;
  background-color: rgb(230,230,230);
  border: 1px solid black;
  padding: 1em;
  width: 200px;
  float: left;
}

#songs .song .label {
  display: none;
}

#songs .song .song-title {
  margin-top: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

#songs .song .song-posted-by {
  font-size: .8em;
}
