
.song {
  margin: .5em;
  background-color: rgb(230,230,230);
}

.song .song-player {
  width: 143;
  height: 143;
}

.song .song-player .label {
  display: none;
}

.song .song-player,
.song .song-player .stopped {
  background-image: url('media/audio_player_play.png');
}

.song .song-player-playing, /* This class is appended along with ".song-player" */
.song .song-player .playing {
  background-image: url('media/audio_player_stop.png');
}
